@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/* Reset y estilos base */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
  }
  
  .seccionprimera {
    background-image: url('./img/bgHeader.png'); 
    background-position-x: 170px;
    height: 83vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .tituloprimera{
    color: #fe8e49;
    font-size: 90px;
  }

  /* Subtítulo */
  .subtituloprimera{
    color: #000000; /* Negro */
    font-size: 36px;
    text-transform: uppercase;
    
  }

  .botonprimera{
    background-color: #fe8e49;
    color: #ffffff;
    margin-top: 50px;
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 25px;
  }
  
  .botonprimero:hover {
    background-color: #d46c2c;
  }

  /* Seccionsegunda */

  .seccionsegunda{
    display: flex;
  }

  .izquierdasegundo{
    width: 50%;
    padding: 250px 0px 250px 250px;
  }
  
  .titulosegunda {
    font-size: 40px;
    color: #fe8e49;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  
  
  .parrafosegunda {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
 
  .botonsegunda {
    background-color: #fe8e49;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-transform: capitalize;
  }
  
  .botonsegunda:hover {
    background-color: #d46c2c;
  }
 
  .imagensegunda {
    /* width: 50%;  */
    padding: 100px;
  }
 
  /* terceraseccion */
  
  .secciontercera{
    display: flex;
    /* padding: 100px; */
  }

  .imagentercera{
    padding:  100px 310px 250px 250px;
  }

  .titulostercero {
    font-size: 43px;
    color: #fe8e49;
    text-transform: uppercase;
    line-height: 1.2;
    overflow: hidden;
  }

  .parrafostercero {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-top: 30px;
    overflow: hidden;
  }

  .botontercero {
    background-color: #fe8e49;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 30px;
  }
  .botontercero:hover {
    background-color: #d46c2c;
  }
  .derechatercera{
    margin-top: 150px;
    padding: 0px 250px 0px 0px;
    overflow: hidden;
  }

 /* seccioncuarta */

 .seccioncuarta{
  background-image: url(img/bgDown.png);
  height: 68vh;
  zoom: 1.4;
 }

 .izquierdacuarta{
  width: 50%;
  padding: 200px 0px 0px 183px;
 }

 .titulocuarta{
  font-size: 20px;
  color: #fe8e49;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1.2;
 }

 .parrafocuarta{
  font-size: 10px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
  }
.botoncuarta {
  background-color: #fe8e49;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
  }

 /* seccionfooter */
  .clasequinta{
    background-color: #fe8e49;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    padding: 60px;
  }

  footer{
    background-color: #fe8e49;
    padding: 30px 0px 30px 0px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 80px #d46c2c;
    border-top: 6px solid #000000;
    border: 5px solid transparent;
  }

  h6{
    margin-bottom: 40px;
  }

  ul{
    list-style: none;
  }
  